* {
  margin: 0;

  font-family: Arial, sans-serif;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
}

.logo {
  background-image:C:\Users\swati\Desktop\Project\amazon_navbar_logo.png;
}
